<h3 class="my-3"><%= @task.name %></h3>
<% if @task.assignee %>
  <p class="text-muted">Assigned to: <%= @task.assignee_name %></p>
<% end %>
<% if @task.complete? %>
  <p class="text-muted">Completed by: <%= @task.completer_name %></p>
<% end %>
<%= link_to "Bak to lists", root_path %>
<hr>

<h3 class="mb-4">Comments</h3>
<div id="comments">
  <%= render @task.comments%>
</div>

<div class="card">
  <div class="card-header">
    New Comment
  </div>
  <div class="card-body">
    <%= bootstrap_form_with model: @new_comment, url: list_task_comments_path(@task.list, @task) do |f| %>
      <%= f.text_area :body, skip_label: true %>
      <%= f.primary %>
    <% end %>
  </div>
</div>